_ReSharper.headjs*/
.idea*/
test/unit/0.96*/
test/unit/0.97a*/
WebWorkbench.mswwsettings
Web.config
test/debug.html
headjs.v11.suo
headjs.sln
dist/nuget/HeadJS.0.99.nupkg
dist/nuget/head.min.js
dist/nuget/head.js
dist/nuget/dist.chirp.config
dist/dist.chirp.config