<h2>head.ready(?)</h2>
<div class="text-c">
    <div class="group" style="max-width: 350px; margin: 0 auto">
        <div class="float-l">
            <h2>Api Documentation</h2>
            <a href="/site/documentation.html" title="Read the docs"><img alt="Documentation" src="/site/assets/img/docs.png" width="128" height="128" /></a>
        </div>
        <div class="float-r download">
            <h2>Download</h2>
            <a href="/site/download.html" title="Download HeadJS"><img alt="Download" src="/site/assets/img/download.png" width="128" height="128" /></a>
        </div>
    </div>
</div>