<div class=" " style="background-color: #dedede">
    <div class="container" style="padding: 10px;">
        <div class="group">
            <h2 class="float-l">Featured On</h2>
            <h2 class="float-r">                                       
                <script type="IN/Share"></script>                        
                <a href="https://twitter.com/share" class="twitter-share-button" data-via="headjs" data-count="none">Tweet</a>
                <span class="g-plusone" data-size="medium" data-href="http://headjs.com" data-count="false"></span>
            </h2>            
        </div>
    <hr/>         
        <div style="text-align: center">
            <p class="featured">
                <a style="padding:10px;" href="http://net.tutsplus.com/articles/web-roundups/for-your-script-loading-needs/" target="_blank" title="For Your Script Loading Needs"><img src="/site/assets/img/featured/net.tutsplus.com.png" width="192" height="58" alt="For Your Script Loading Needs" /></a>
                <a style="padding:10px;" href="http://www.webappers.com/2010/12/01/head-js-speeds-up-simplifies-modernizes-your-site" target="_blank" title="Head JS Speeds Up, Simplifies & Modernizes Your Site"><img src="/site/assets/img/featured/webappers.com.png" width="314" height="55" alt="Head JS Speeds Up, Simplifies & Modernizes Your Site" /></a>
                <a style="padding:10px;" href="http://coding.smashingmagazine.com/2011/06/10/useful-html-css-and-javascript-tools-and-libraries" target="_blank" title="Useful HTML-, CSS- and JavaScript Tools and Libraries"><img src="/site/assets/img/featured/smashingmagazine.com.png" width="300" height="78" alt="Useful HTML-, CSS- and JavaScript Tools and Libraries"/></a>                        
                <a style="padding:10px;" href="http://www.smashingapps.com/2011/01/27/13-most-robust-wordpress-plugins-to-speed-up-your-blogs-loading-time.html" target="_blank" title="13 Most Robust WordPress Plugins To Speed Up Your Blog’s Loading Time"><img src="/site/assets/img/featured/smashing-apps.com.png" width="221" height="96" alt="13 Most Robust WordPress Plugins To Speed Up Your Blog’s Loading Time"/></a>                                    
                <a style="padding:10px;" href="http://www.netmagazine.com/features/essential-javascript-top-five-script-loaders" target="_blank" title="Essential JavaScript: the top five script loaders"><img src="/site/assets/img/featured/netmagazine.com.png" width="194" height="88" alt="Essential JavaScript: the top five script loaders"/></a>                                    
                <a style="padding:10px;" href="http://www.noupe.com/javascript/javascript-turbo-head-js-speeds-up-your-website-73078.html" target="_blank" title="JavaScript-Turbo: Head.js Speeds Up Your Website"><img src="/site/assets/img/featured/noupe.com.png" width="181" height="55" alt="JavaScript-Turbo: Head.js Speeds Up Your Website" /></a>                                   
                <a style="padding:10px;" href="http://speckyboy.com/2011/09/28/40-new-jquery-plugins" target="_blank" title="40 New jQuery Plugins"><img src="/site/assets/img/featured/speckyboy.com.png" width="175" height="61" alt="40 New jQuery Plugins"/></a>
            </p>
        </div>
    </div>
</div>

