<div style="background-color: #2f2f2f; color: white" role="complementary">
    <div class="container" style="padding: 0 0 15px 5px;">
        <div class="group">
            <div class="group float-l authors">
            
                <div itemscope="itemscope" itemtype="http://schema.org/Person" class="group float-l">
                    <h3>Created by</h3> 
                    <img class="float-l" style="border-radius: 30px" alt="Tero Piirainen" src="https://secure.gravatar.com/avatar/a0bdf41fad9763f3e6ae7394c2b22ae9?s=40"/>
                    <div class="float-r" style="padding: 0 0 0 5px">
                        <a href="https://plus.google.com/115630295536677299145" target="_blank" itemprop="url"><strong itemprop="name">Tero Piirainen</strong></a>
                        <br/>
                        <a href="https://twitter.com/jquerytools">@jquerytools</a>
                    </div>
                </div>
          
                <div itemscope="itemscope" itemtype="http://schema.org/Person" class="group float-l">
                    <h3>Lead Developer</h3>
                    <a href="http://www.linkedin.com/in/hoffmannrobert" target="_blank"><img class="float-l" style="border-radius: 30px" alt="Robert Hoffmann" src="https://secure.gravatar.com/avatar/a38aea3330d0aafc2c735d2b4e2e0dd5?s=40"/></a>
                    <div class="float-r" style="padding: 0 0 0 5px">
                        <a href="https://google.com/+RobertHoffmann" target="_blank" itemprop="url"><strong itemprop="name">Robert Hoffmann</strong></a>
                        <br/>
                        <a href="https://twitter.com/itechnologynet">@itechnology</a>
                    </div>
                </div>
            </div>

            <div class="float-r equidistant-social">
                <div class="text-c">
                    <h3>Twitter Talk</h3>
                    <a href="http://twitter.com/search?q=headjs" target="_blank" class="sprite social twitter mobile-hidden"></a>    
                    <a href="http://mobile.twitter.com/search?q=headjs" target="_blank" class="sprite social twitter mobile-visible"></a>                  
                </div>
                
                <div class="text-c">
                    <h3>Feature Requests</h3>
                    <a href="http://headjs.uservoice.com" target="_blank" class="sprite social uservoice"></a>                    
                </div>

                <div class="text-c">
                    <h3>Community Support</h3>
                    <a href="http://stackoverflow.com/questions/tagged/head.js?sort=newest" target="_blank" class="sprite social stackoverflow"></a>
                </div>

                <div class="text-c">
                    <h3>Bug Reports</h3>
                    <a href="https://github.com/headjs/headjs/issues" target="_blank" class="sprite social github"></a>                    
                </div>
            </div>
        </div>       
    </div>
</div>

<div style="background-color: black; color: white;" role="contentinfo">
    <div class="container" style="padding: 10px;">
        Copyright © 2010—2014. HeadJS is available under the <a href="http://opensource.org/licenses/MIT" target="_blank">MIT License</a>. This site is powered by: HeadJS, <a href="http://github.com" target="_blank">Github</a> & <a href="http://jekyllrb.com" target="_blank">Jekyll</a>
    </div>
</div>