<div style="background-color: #2F2F2F; color: white;">
    <div class="container">
        <ul class="menu group text-c" style="padding: 10px;">
            <li class="home"><a href="/">Home</a></li>
            <li class="blog"><a href="/site/blog.html">Blog</a></li>
            <li class="api"><a href="/site/documentation.html">Api</a></li>
            <li class="unit"><a href="/site/unit.html">Unit Tests</a></li>
            <li class="download"><a href="/site/download.html">Download</a></li>
            <li class="resources"><a href="/site/resources.html">Resources</a></li>
            <li class="resources">
                <a href="javascript:void(0)" onclick="TogetherJS(this); return false;" style="text-decoration: none;"><img style="vertical-align:sub ;" src="/site/assets/img/togetherjs-logo.png" height="19" /> TogetherJS</a>
            </li>
        </ul>        
    </div>
</div>