<div style="background-color: #2F2F2F;color: white;">
    <div class="container">
        <ul class="menu group center" style="padding: 10px;">
            <li class="active"><a href="/">About</a></li>
            <li><a href="/site/blog.html">Blog</a></li>
            <li><a href="/site/api-documentation.html">Api Documentation</a></li>
            <li><a href="/site/unit-tests.html">Unit Tests</a></li>
            <li><a href="#download">Download / Build</a></li>
        </ul>        
    </div>
</div>