<div style="background-color: #2F2F2F; color: white;">
    <a class="flattr" href="https://flattr.com/submit/auto?user_id=HeadJS&url=http%3A%2F%2Fheadjs.com" target="_blank"><img src="//api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0"></a>
    <div class="container">        
        <ul class="menu group text-c" style="padding: 10px;" role="navigation">
            <li class="home"><a href="/">Home</a></li>
            <li class="blog"><a href="/site/blog.html">Blog</a></li>
            <li class="api"><a href="/site/documentation.html">Api</a></li>
            <li class="unit"><a href="/site/unit.html">Unit Tests</a></li>
            <li class="download"><a href="/site/download.html">Download</a></li>
            <li class="resources"><a href="/site/resources.html">Resources</a></li>
        </ul>        
    </div>
</div>