---
layout: main
title: Whats new
---
<div style="min-height:600px">
    <h1>Latest News</h1>

    <ul>
        {% for post in site.posts %}
        <li>
            <a href="{{ post.url }}">{{ post.title }} ({{ post.date | date_to_string }})</a>
            <p>{{ post.excerpt }}</p>
        </li>
        {% endfor %}
    </ul>
</div>

<div class="intro">    
    <strong>Make it the only script in your HEAD.</strong>
    &laquo; A concise solution to universal problems &raquo;
</div>  

{% include sections/download.html %}