<!-- UserVoice JavaScript SDK (only needed once on a page) -->
<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/V4H0vdVJNOwBZTsBfSspDg.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

<!-- A tab to launch the Classic Widget -->
<script>
  UserVoice = window.UserVoice || [];
  UserVoice.push(['showTab', 'classic_widget', {
    mode         : 'feedback',
    primary_color: '#cc6d00',
    link_color   : '#007dbf',
    forum_id     : 182905,
    tab_label    : 'Features & Suggestions',
    tab_color    : '#cc6d00',
    tab_position : 'middle-left',
    tab_inverted : false
  }]);
</script>